

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main" ng-app="ProCatApp" ng-controller="ProCatController">

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body pt-4">
                        <div class="text-end mb-3 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <input type="text" class="input-searchView me-3" ng-model="search.Name" placeholder="Tìm kiếm theo tên" />
                                <select ng-model="pageSize" class="limitShow">
                                    <option ng-click="getPageSize('5')" value="5">5</option>
                                    <option ng-click="getPageSize('10')" value="10">10</option>
                                    <option ng-click="getPageSize('15')" value="15">15</option>
                                    <option ng-click="getPageSize('20')" value="20">20</option>
                                </select>
                            </div>
                            <a ng-click="Add()" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#AddProCat"><i class="fa-solid fa-plus"></i> Thêm loại sản phẩm</a>
                        </div>
                        <table class="table table-striped table-hover table-bordered pt-4" id="dataTable">
                            <thead class="table-primary">
                                <tr>
                                    <th>STT</th>
                                    <th>Hình ảnh</th>
                                    <th ng-click="SortData('Name')">
                                        Tên loại sản phẩm
                                        <i ng-class="getSortClass('Name')"></i>
                                    </th>
                                    <th >
                                        Danh mục cha
                                    </th>
                                    <th ng-click="SortData('Status')">
                                        Trạng thái
                                        <i ng-class="getSortClass('Status')"></i>
                                    </th>
                                    <th>
                                        Tùy chỉnh
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="category-wrap">
                                <tr dir-paginate="pc in ProCatList | itemsPerPage: pageSize | orderBy: sortColumn : reverse | filter: search">
                                    <td>{{$index}}</td>
                                    <td class="text-center"><img src="~/Upload/CatPro/{{pc.ProCatId}}/{{pc.Image}}" alt="" style="width: 50px;height:50px;" /></td>
                                    <td>
                                        {{pc.Name}}
                                    </td>
                                    <td>
                                        {{pc.Category.Name}} - {{pc.Category.type}}
                                    </td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" ng-click="ChangeStatusProCat(pc.ProCatId)" ng-checked="{{pc.Status}}">
                                        </div>
                                    </td>
                                    <td>
                                        <a class="btn-update" ng-click="Edit(pc,$index)" data-bs-toggle="modal" data-bs-target="#Editcategory" href=""><i class="fa-solid fa-pen-to-square" style="pointer-events:none;"></i></a>
                                        <a class="btn-delete btn-deleteHome" ng-click="Delete(pc)"><i class="fa-solid fa-trash" style="pointer-events:none;"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Thêm loại sản phẩm-->
    <div class="modal fade" id="AddProCat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm danh mục</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="createForm" novalidate>
                        <div class="form-horizontal">

                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-4 col-form-label">Tên loại sản phẩm</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Name" ng-model="proCat.Name" required>
                                    <span ng-show="createForm.$submitted || editForm.Name.$dirty">
                                        <span class="error" ng-show="createForm.Name.$error.required">Tên loại sản phẩm không được để trống</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label">Select</label>
                                <div class="col-sm-8">
                                    <select class="form-select" aria-label="Default select example" ng-model="proCat.CatID">
                                        @foreach (var item in ViewBag.CatList)
                                        {
                                            <option value="@item.CatID">@item.Name - @item.type</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-4 col-form-label">Ảnh</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="file" id="formFile" ngf-select="SelectImage($files)">
                                    <span>
                                        <span class="error" ng-show="errorImage">Bạn cần chọn hình ảnh</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button class="btn btn-primary" ng-click="SaveAdd()">Lưu</button>
                </div>

            </div>
        </div>
    </div>

    <!--sửa loại sản phẩm-->
    <div class="modal fade" id="Editcategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa loại sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="editForm" novalidate>
                        <div class="form-horizontal">
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-4 col-form-label">Tên loại sản phẩm</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Name" ng-model="proCat.Name" required>
                                    <span ng-show="editForm.$submitted || editForm.Name.$dirty">
                                        <span class="error" ng-show="editForm.Name.$error.required">Tên loại sản phẩm không được để trống</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label">Select</label>
                                <div class="col-sm-8">
                                    <select class="form-select" id="select-cat" aria-label="Default select example" ng-model="proCat.CatID">
                                        @foreach (var item in ViewBag.CatList)
                                        {
                                            <option value="@item.CatID">@item.Name - @item.type</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-4 col-form-label">Ảnh</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="file" id="formFile" ngf-select="SelectImage($files)">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button class="btn btn-primary" ng-click="SaveEdit()">Lưu</button>
                </div>

            </div>
        </div>
    </div>

</main>


@section scripts{
    <script src="~/Scripts/dirPagination.js"></script>
    <script src="~/Scripts/ng-file-upload-shim.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <script>
        var proCatApp = angular.module("ProCatApp", ['ngFileUpload', 'angularUtils.directives.dirPagination']);

        proCatApp.controller("ProCatController", function ($scope, Upload, $http) {

            /** Lấy danh sách loại sản phẩm*/
            $http.get("/Admin/ProductCat/getAllData").then(function (res) {
                $scope.ProCatList = JSON.parse(res.data.result)
                $scope.firstCatId = res.data.firstCatId
            }, function (error) {
                alert("failed")
            })

            //lưu file người dùng upload
            $scope.SelectImage = function (file) {
                $scope.fileImage = file
            }

            ///**Thêm loại sản phẩm */
            //hàm upload ảnh trả về true nếu thành công
            let checkUpload = true
            $scope.UploadFiles = function (file, proCatId) {
                $scope.SelectFiles = file;
                if ($scope.SelectFiles && $scope.SelectFiles.length) {
                    Upload.upload({
                        url: '/ProductCat/Upload',
                        data: { file: $scope.SelectFiles, ProCatId: proCatId }
                    }).then(function (res) {

                    }), function (error) {
                        alert("Lỗi upload ảnh")
                        checkUpload = false
                    }
                }
            }

            //khi người dùng nhấn thêm
            $scope.Add = function () {
                $scope.proCat = null
                $scope.proCat = { CatID: JSON.stringify($scope.firstCatId) }
            }
            //khi người dung nhấn lưu thêm mới loại sản phẩm
            $scope.SaveAdd = function (closeOrNew) {
                if ($scope.createForm.$valid) {
                    if ($scope.fileImage !== undefined) {
                        $scope.proCat.Image = $scope.fileImage[0].name
                        $http({
                            method: "POST",
                            url: "/Admin/ProductCat/Create",
                            datatype: 'Json',
                            data: { proCat: $scope.proCat }
                        }).then(function (res) {
                            if (res.data.check) //tạo mới thành công
                            {
                                var productCat = JSON.parse(res.data.pc)
                                $scope.ProCatList.push(productCat) //hiển thị thêm đối tượng vừa thêm
                                //upload ảnh khi thêm đối tượng thành công
                                $scope.UploadFiles($scope.fileImage, productCat.ProCatId)
                                if (checkUpload === false) {
                                    //khi upload fail thì xóa đối tượng vừa tạo
                                    $http({
                                        method: 'Post',
                                        url: '/Admin/ProductCat/Delete',
                                        data: { id: productCat.ProCatId }
                                    })
                                }
                                else {

                                }

                                $scope.errorImage = false

                                //nếu người dùng chỉ nhấn lưu
                                if (closeOrNew) {
                                    $(".btn-close").trigger('click') //đóng modal thêm
                                }

                                //hiển thị thông báo thành công
                                $("#successToast .text-toast").text("Thêm loại sản phẩm thành công")
                                $("#successToast").toast("show")
                            }
                            else {
                                $("#errorToast .text-toast").text("Thêm thất bại")
                                $("#errorToast").toast("show")
                            }
                        })
                    }
                    else {
                        $scope.errorImage = true
                    }
                }
            }

            /** Sửa danh mục*/
            let indexEdit = 1 //biến chứa vị trí phần tử vừa sửa để thay thế lên view
            let nameOldImg = "" //biến chứa tên Image cũ để xóa đi và thêm Image mới vào
            $scope.Edit = function (proCat, index) {
                nameOldImg = proCat.Image //image cũ
                $scope.proCat = { ProCatId: proCat.ProCatId, Name: proCat.Name, CatID: JSON.stringify(proCat.CatID), Status: proCat.Status, Image: proCat.Image }
                indexEdit = index
            }

            $scope.SaveEdit = function () {
                if ($scope.editForm.$valid) {
                    //nếu upload file mới thì gán tên file mới vào proCat
                    if ($scope.fileImage != undefined) {
                        $scope.proCat.Image = $scope.fileImage[0].name
                    }
                    $http({
                        method: "POST",
                        url: "/Admin/ProductCat/Edit",
                        datatype: 'Json',
                        data: { proCat: $scope.proCat, nameOldImg: nameOldImg }
                    }).then(function (res) {
                        if (res.data.UpdateSuccess === true) //nếu update thành công
                        {
                            if (res.data.checkExistImg == false) //ảnh chưa tồn tại
                            {
                                //upload ảnh khi update thành công
                                $scope.UploadFiles($scope.fileImage, $scope.proCat.ProCatId)
                            }

                            //Tìm phần tử vừa được sửa trong danh sách và thay thế 
                            var newProCat = $scope.proCat
                            $scope.ProCatList.splice(indexEdit, 1, newProCat)

                            $("#successToast .text-toast").text("Sửa loại sản phẩm thành công")
                            $("#successToast").toast("show") //hiển thị thông báo thành công
                        }
                        else {
                            $("#errorToast .text-toast").text("Sửa thất bại")
                            $("#errorToast").toast("show") //hiển thị thông báo thành công
                        }
                        $(".btn-close").trigger('click') //đóng modal sửa
                    })
                }

            }

            /**Xóa danh mục*/
            $scope.Delete = function (proCat) {
                if (confirm(`Bạn có chắc chắn muốn loại sản phẩm ${proCat.Name}`)) {
                    $http({
                        method: 'Post',
                        url: '/Admin/ProductCat/Delete',
                        dataType: 'Json',
                        data: { proCat: proCat }
                    }).then(function (res) {
                        if (res.data.check) {
                            var c = $scope.ProCatList.indexOf(proCat);
                            $scope.ProCatList.splice(c, 1);
                            $("#successToast .text-toast").text(res.data.message)
                            $("#successToast").toast("show") //hiển thị thông báo thành công
                        }
                        else {
                            $("#errorToast .text-toast").text(res.data.message)
                            $("#errorToast").toast("show")
                        }
                    })
                }
            }

            /** Change status*/
            $scope.ChangeStatusProCat = function (proCatId) {
                $http({
                    method: "Post",
                    url: "/Admin/ProductCat/ChangeStatus",
                    dataType: 'Json',
                    data: { id: proCatId }
                }).then(function (res) {
                    if (res.data) {
                        $("#successToast .text-toast").text("Đã lưu thay đổi")
                        $("#successToast").toast("show") //hiển thị thông báo thành công
                    }
                    else {
                        $("#errorToast .text-toast").text("Không thể lưu thay đổi")
                        $("#errorToast").toast("show")
                    }
                })
            }


            //sắp xếp
            $scope.sortColumn = 'Name'
            $scope.reverse = 'false'
            $scope.SortData = function (column) {
                if ($scope.sortColumn == column) {
                    $scope.reverse = !$scope.reverse
                }
                else {
                    $scope.reverse = false //sort increase
                }
                $scope.sortColumn = column
            }
            $scope.getSortClass = function (column) {
                //khi reverse thay doi thi nd-class dc kich hoat
                if ($scope.sortColumn == column) {
                    return $scope.reverse ? 'fa-solid fa-arrow-down' : 'fa-solid fa-arrow-up'
                }
                return ''
            }

            //paging
            $scope.pageSize = "5"
            $scope.getPageSize = function (pageSize) {
                $scope.pageSize = pageSize
            }

        });
    </script>
}
