@model List<Models.Framework.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var i = 0;
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Tên danh mục</th>
            <th>Danh mục cha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CatId</td>
                <td>@item.CatName</td>
                <td>@item.ParentID</td>
            </tr>
        }

    </tbody>
</table>
@Html.ActionLink("Tạo mới", "Create")
<br />
@Html.ActionLink("Sửa", "Edit")

