@model Models.Framework.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Assets/js/product-detail.js"></script>
}

@section styles{
    <link href="~/Assets/css/product-detail.css" rel="stylesheet" />
    <link href="~/Assets/css/resposiveDetail.css" rel="stylesheet" />
}
<main>
    <div class="topbar text-center text-white">
        <div>Thêm vào giỏ  499.000 ₫ để  miễn phí vận chuyển</div>
        <div>ĐỔI HÀNG MIỄN PHÍ - Tại tất cả cửa hàng trong 30 ngày</div>
    </div>
    <section style="padding: 0 40px;">
        <div class="container-main">

            <!--content-->
            <ul class="breadcrumb mt-5 mb-4">
                <li class="breadcrumb-item"><a href="./index.html">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Đồ mặc nhà</a></li>
                <li class="breadcrumb-item active">Bộ mặc nhà bé trai</li>
            </ul>
            <div class="row">
                <div class="col-md-8">
                    <div class="detail-img-side d-flex">
                        <div class=" me-1 flex-grow-1 overflow-hidden">
                            <img class="main-img" src="@Model.ProductImages.First().Image"> alt="">
                        </div>
                        <div class="list-img pb-1">
                            <img class="list-img-item" src="@Model.ProductImages.First().Image" alt="">
                            <img class="list-img-item" src="@Model.ProductImages.First().DetailImage1" alt="">
                            <img class="list-img-item" src="@Model.ProductImages.First().DetailImage2" alt="">
                            <img class="list-img-item" src="@Model.ProductImages.First().DetailImage3" alt="">
                            <img class="list-img-item" src="@Model.ProductImages.First().DetailImage4" alt="">
                            <img class="list-img-item" src="@Model.ProductImages.First().DetailImage5" alt="">
                        </div>
                    </div>

                </div>
                <div class="col-md-4" style="padding-left: 60px;">
                    <h4>Bộ mặc nhà bé trai</h4>
                    <DIV class="d-flex fs-5 align-items-center mt-3">
                        <div class="detail-current-price me-3">@Model.Price</div>
                        <div class="detail-old-price text text-decoration-line-through" style="font-size:18px;color:#fdaa63">@Model.PromotionPrice</div>
                    </DIV>
                    <hr style="height: 1px;background-color:#adaaaa;margin: 30px 0;">
                    <div class="detail-list-color">
                        <p>Màu sắc: <span class="color-chose">Vàng</span></p>
                        <div class="product-color-list d-flex mt-2 mb-3">
                            @foreach (var item in Model.ProductVariations)
                            {
                                <div class="product-color detail-color active"  >
                                    <span data="" style="background-image: url(@item.ProductColor.ImageColor);"></span>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="detail-list-size">
                        <p>Kích cỡ: <span class="size-choose">@Model.ProductVariations.First().ProductSize.NameSize</span></p>
                        <div class="list-size mt-2">
                            @foreach (var item in Model.ProductVariations)
                            {
                                <div class="product-size" data-proSize="@item.ProductSize.ProSizeID">@item.ProductSize.NameSize</div>
                            }
                        </div>
                    </div>
                    <hr style="height: 1px;background-color:#adaaaa;margin: 30px 0;">
                    <div>
                        <a href="" class="size-guide">Hướng dẫn chọn size</a>
                    </div>
                    <div class="mb-3">
                        <div style="font-size: 14px;" class="mt-3">
                            <img src="./img/check.svg" alt="">
                            Miễn phí giao hàng Cho đơn hàng từ <b>499.000đ</b>
                        </div>
                        <div style="font-size: 14px;" class="mt-3">
                            <img src="./img/check.svg" alt="">
                            Đổi trả miễn phí trong vòng <b>30 ngày</b> kể từ ngày mua
                        </div>
                    </div>
                    <div>
                        <button class="btn-addCart my-3">Thêm vào giỏ hàng</button>
                        <button class="btn-find-store">Tìm tại cửa hàng</button>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <div class="detail-like">
                            <img class="me-1" src="./img/detail-heart.svg" alt="">
                            <span>Thêm vào yêu thích</span>
                        </div>
                        <div class="detail-share">
                            <img class="me-1" src="./img/share.svg" alt="">
                            <span>Thêm vào yêu thích</span>
                        </div>
                    </div>
                    <hr style="height: 1px;background-color:#adaaaa;margin: 30px 0;">
                    <div id="accordion">

                        <div class="card card-detail">
                            <div class="card-header">
                                <a id="card1" class="btn collapsed-btn" data-bs-toggle="collapse" href="#collapseOne">
                                    Mô tả
                                </a>

                            </div>
                            <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Áo phông chất liệu 100% cotton, cổ tròn tay cộc.
                                </div>
                            </div>
                        </div>

                        <div class="card card-detail">
                            <div class="card-header">
                                <a id="card2" class="collapsed btn collapsed-btn" data-bs-toggle="collapse" href="#collapseTwo">
                                    Chất liệu

                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                <div class="card-body">
                                    100% cotton
                                </div>
                            </div>
                        </div>

                        <div class="card card-detail">
                            <div class="card-header">
                                <a id="card3" class="collapsed btn collapsed-btn" data-bs-toggle="collapse" href="#collapseThree">
                                    Hướng dẫn sử dụng

                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Giặt máy ở chế độ nhẹ, nhiệt độ thường.
                                    Không sử dụng hóa chất tẩy có chứa Clo.
                                    Phơi trong bóng mát.
                                    Sấy thùng, chế độ nhẹ nhàng.
                                    Là ở nhiệt độ trung bình 150 độ C.
                                    Giặt với sản phẩm cùng màu.
                                    Không là lên chi tiết trang trí.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="related-products">
        <div class="container-main">
            <h3>Có thể bạn sẽ thích</h3>
            <div class="product-related">

                <div class="product">
                    <div class="product-img">
                        <a href="./product-detail.html">
                            <img src="https://canifa.com/img/486/733/resize/2/l/2ls22s018-sy038-2-thumb.jpg" width="100%" alt="">
                        </a>
                        <div class="product-size-wrap">
                            <div class="d-flex justify-content-center flex-wrap pt-3">
                                <div class="product-size active">110</div>
                                <div class="product-size">120</div>
                                <div class="product-size">130</div>
                                <div class="product-size">140</div>
                                <div class="product-size">150</div>
                                <div class="product-size">160</div>
                            </div>
                            <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                        </div>
                    </div>
                    <div class="product-color-list d-flex pt-3 pb-2">
                        <div class="product-color active">
                            <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sy038.png');"></span>
                        </div>
                    </div>
                    <a href="./product-detail.html" class="product-name">
                        Bộ mặc nhà nam
                    </a>
                    <div class="d-flex mt-1">
                        <div class="curent-price me-3">249.000 đ</div>
                        <div class="curent-old">329.000 đ</div>
                    </div>
                    <div class="product-like">
                        <span>Yêu thích</span>
                        <img class="product-like-img1" src="./img/heart-icon.svg" alt="">
                        <i class="product-like-img2 fa-solid fa-heart"></i>
                    </div>
                </div>

                <div class="product">
                    <div class="product-img">
                        <a href="#">
                            <img src="https://canifa.com/img/486/733/resize/6/l/6ls22s010-sa026-1-thumb.jpg" width="100%" alt="">
                        </a>
                        <div class="product-size-wrap">
                            <div class="d-flex justify-content-center flex-wrap pt-3">
                                <div class="product-size active">110</div>
                                <div class="product-size">120</div>
                                <div class="product-size">130</div>
                                <div class="product-size">140</div>
                                <div class="product-size">150</div>
                                <div class="product-size">160</div>
                            </div>
                            <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                        </div>
                    </div>
                    <div class="product-color-list d-flex pt-3 pb-2">
                        <div class="product-color active" data="https://canifa.com/img/1000/1500/resize/6/l/6ls22s010-sa026-1-thumb.jpg">
                            <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sa026.png');"></span>
                        </div>
                        <div class="product-color" data="https://canifa.com/img/1000/1500/resize/6/l/6ls22s010-sw001-1.jpg">
                            <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sw001.png');"></span>
                        </div>

                    </div>
                    <a href="" class="product-name">
                        Bộ mặc nhà nam
                    </a>
                    <div class="d-flex mt-1">
                        <div class="curent-price me-3">249.000 đ</div>
                        <div class="curent-old">329.000 đ</div>
                    </div>

                    <div class="product-like">
                        <span>Yêu thích</span>
                        <img class="product-like-img1" src="./img/heart-icon.svg" alt="">
                        <i class="product-like-img2 fa-solid fa-heart"></i>
                    </div>
                </div>
                <div class="product">
                    <div class="product-img">
                        <a href="#">
                            <img src="https://canifa.com/img/486/733/resize/2/l/2ls22s017-sw001-2-thumb.jpg" width="100%" alt="">
                        </a>
                        <div class="product-size-wrap">
                            <div class="d-flex justify-content-center flex-wrap pt-3">
                                <div class="product-size active">110</div>
                                <div class="product-size">120</div>
                                <div class="product-size">130</div>
                                <div class="product-size">140</div>
                                <div class="product-size">150</div>
                                <div class="product-size">160</div>
                            </div>
                            <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                        </div>
                    </div>
                    <div class="product-color-list d-flex pt-3 pb-2">
                        <div class="product-color active">
                            <span style="background-image: url('	https://media.canifa.com/attribute/swatch/images/sw001.png');"></span>
                        </div>

                    </div>
                    <a href="" class="product-name">
                        Bộ mặc nhà nam
                    </a>
                    <div class="d-flex mt-1">
                        <div class="curent-price me-3">249.000 đ</div>
                        <div class="curent-old">329.000 đ</div>
                    </div>

                    <div class="product-like">
                        <span>Yêu thích</span>
                        <img class="product-like-img1" src="./img/heart-icon.svg" alt="">
                        <i class="product-like-img2 fa-solid fa-heart"></i>
                    </div>
                </div>
                <div class="product">
                    <div class="product-img">
                        <a href="#">
                            <img src="./img/8ls22s005-sb128-1-thumb.jpg" width="100%" alt="">
                        </a>
                        <div class="product-size-wrap">
                            <div class="d-flex justify-content-center flex-wrap pt-3">
                                <div class="product-size active">110</div>
                                <div class="product-size">120</div>
                                <div class="product-size">130</div>
                                <div class="product-size">140</div>
                                <div class="product-size">150</div>
                                <div class="product-size">160</div>
                            </div>
                            <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                        </div>
                    </div>
                    <div class="product-color-list d-flex pt-3 pb-2">
                        <div class="product-color active">
                            <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sb128.png');"></span>
                        </div>
                    </div>
                    <a href="" class="product-name">
                        Bộ mặc nhà nam
                    </a>
                    <div class="d-flex mt-1">
                        <div class="curent-price me-3">249.000 đ</div>
                        <div class="curent-old">329.000 đ</div>
                    </div>

                    <div class="product-like">
                        <span>Yêu thích</span>
                        <img class="product-like-img1" src="./img/heart-icon.svg" alt="">
                        <i class="product-like-img2 fa-solid fa-heart"></i>
                    </div>
                </div>
                <div class="product">
                    <div class="product-img">
                        <a href="#">
                            <img src="https://canifa.com/img/486/733/resize/2/t/2ts22w013-sy193-110-1.jpg" width="100%" alt="">
                        </a>
                        <div class="product-size-wrap">
                            <div class="d-flex justify-content-center flex-wrap pt-3">
                                <div class="product-size active">110</div>
                                <div class="product-size">120</div>
                                <div class="product-size">130</div>
                                <div class="product-size">140</div>
                                <div class="product-size">150</div>
                                <div class="product-size">160</div>
                            </div>
                            <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                        </div>
                    </div>
                    <div class="product-color-list d-flex pt-3 pb-2">
                        <div class="product-color active">
                            <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sy193.png');"></span>
                        </div>


                    </div>
                    <a href="" class="product-name">
                        Product name
                    </a>
                    <div class="d-flex mt-1">
                        <div class="curent-price me-3">249.000 đ</div>
                        <div class="curent-old">329.000 đ</div>
                    </div>

                    <div class="product-like">
                        <span>Yêu thích</span>
                        <img class="product-like-img1" src="./img/heart-icon.svg" alt="">
                        <i class="product-like-img2 fa-solid fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
