@model List<Project_3.Model.CartItem>
@{
    ViewBag.Title = "cart";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@section scripts{
    <script type="text/javascript" src="/Assets/js/cart.js"></script>
}

@section styles{
    <link rel="stylesheet" href="/Assets/css/cart.css">
}
@section Menu{
    <!-- Offcanvas Sidebar -->
    <div class="offcanvas offcanvas-start" id="sidebar">
        <div class="offcanvas-header pt-4">
            <a class="offcanvas-title header-brand" href="/Home/Index/">
                <img src="/Assets/img/logo.svg" alt="" />
            </a>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="mb-3">
                <li class="header-item">
                    <a class="header-link " href="/Home/Index/">TRANG CHỦ</a>
                </li>
                <li class="header-item">
                    <a class="header-link " href="/Man/Index/">NAM</a>
                </li>
                <li class="header-item">
                    <a class="header-link " href="/Women/Index/">NỮ</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="/Girl/Index/">BÉ GÁI</a>
                </li>
                <li class="header-item">
                    <a class="header-link " href="/Boy/Index/">BÉ TRAI</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="/Outlet/Index/">OUTLET</a>
                </li>
            </ul>
            <div class="sidebar-form-wrap ">
                <form class="d-flex sidebar-form">
                    <button class="search-btn">
                        <span></span>
                    </button>
                    <input type="text"
                           placeholder="Bạn tìm gì"
                           id="input-sidebar-search"
                           autocomplete="off" />
                </form>
                <div class="search-history">
                    <div class="d-flex justify-content-between search-history__header">
                        <p>Lịch sử tìm kiếm</p>
                        <span style="cursor: pointer;">Xóa</span>
                    </div>
                    <div class="search-history-body pt-2">
                        <span>áo polo</span>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Button to open the offcanvas sidebar -->
    <button class="btn-menu d-xl-none d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
        <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="header-list d-none d-xl-flex me-auto ms-5">
        <li class="header-item">
            <a class="header-link " href="/Home/Index/">TRANG CHỦ</a>
        </li>
        <li class="header-item">
            <a class="header-link " href="/Man/Index/">NAM</a>
        </li>
        <li class="header-item">
            <a class="header-link " href="/Women/Index/">NỮ</a>
        </li>
        <li class="header-item">
            <a class="header-link " href="/Girl/Index/">BÉ GÁI</a>
        </li>
        <li class="header-item">
            <a class="header-link " href="/Boy/Index/">BÉ TRAI</a>
        </li>
        <li class="header-item">
            <a class="header-link" href="/Outlet/Index/">OUTLET</a>
        </li>
    </ul>
}
<main class="border-top">
    <div class="d-flex justify-content-between align-items-center w-50 mx-auto my-5">
        <div class="process-item active flex-grow-1 text-center">
            <span class="rounded-circle border me-2 d-inline-block text-center" style="width:24px;line-height:22px;font-size: 14px;">1</span>
            Giỏ hàng
        </div>
        <div class="flex-grow-1 border-top text-center"></div>
        <div class="process-item flex-grow-1 text-center">
            <span class="rounded-circle border me-2 d-inline-block text-center" style="width:24px;line-height:22px;font-size: 14px;">2</span>
            Đặt hàng
        </div>
        <div class="flex-grow-1 border-top text-center"></div>
        <div class="process-item flex-grow-1 text-center">
            <span class="rounded-circle border me-2 d-inline-block text-center" style="width:24px;line-height:22px;font-size: 14px;">3</span>
            Hoàn tất
        </div>
    </div>
    <div class="cart-content pt-5">
        <div class="row g-1 align-items-stretch">
            <div class="col-lg-8 col-12 h-100">
                <div class="cart-content__left">
                    <div class="freeship-notify mb-5 d-inline-flex rounded-3 bg-white shadow-sm align-items-center p-3">
                        <img src="/Assets/img/free-delivery.svg" alt="">
                        <p class="mb-0 ms-2" style="font-size:14px">Bạn đủ điều kiện để nhận miễn phí vận chuyển</p>
                    </div>
                    <div class="fw-bold" style="font-size: 25px;">(<span style="font-size: 25px;" class="quantity-product"></span>) sản phẩm</div>
                    <table class="mt-3 cart-list">
                        <thead style="background-color: #333f48; color:white;">
                            <tr>
                                <th class="col item">Sản phẩm</th>
                                <th class="col">Giá tiền</th>
                                <th class="col qty">Số lượng</th>
                                <th class="col subtotal">Tổng tiền</th>
                                <th class="col action"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col item">
                                        <div class="d-flex">
                                            <a href="#">
                                                <img class="img-item" src="~/Upload/Product/@item.ProVariation.Product.ProId/@item.Image" alt="">
                                            </a>
                                            <div style="width:100%" class="flex-grow-1">
                                                <a href="" class="item-name">@item.ProVariation.Product.ProName</a>
                                                <div class="d-flex align-items-center">
                                                    <span class="item-size">@item.ProVariation.ProductSize.NameSize</span>
                                                    <span>&nbsp;/&nbsp;</span>
                                                    <span class="item-color rounded-circle d-inline-block" style="width:14px; height:14px;background-image:url('@item.ProVariation.ProductColor.ImageColor') ;"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col">
                                        <span class="price">@item.ProVariation.Product.Price</span>
                                    </td>
                                    <td class="col qty">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <span class="btn-minus"></span>
                                            <input type="text" readonly="readonly" class="input-cart-qty" value="@item.Quantity">
                                            <span class="btn-plus"></span>
                                        </div>
                                    </td>
                                    <td class="col subtotal">
                                        <span class="price">@(item.ProVariation.Product.Price * item.Quantity)</span>
                                    </td>
                                    <td class="actions">
                                        <a class="cart-item__remove" href="/Cart/deleteCartItem/@item.ProVariation.ProVariationID"></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="cart-content__right h-100">
                    <h4>Đơn hàng</h4>
                    <div class="d-flex justify-content-between mt-4 mb-2" style="color:#77757f;">
                        <span>Giá gốc</span>
                        <span class="original-price">329.000 ₫</span>
                    </div>
                    <div class="d-flex justify-content-between fw-bold mb-5">
                        <span>Tổng tiền thanh toán</span>
                        <span class="total-price">329.000 ₫</span>
                    </div>
                    <button CLASS="btn-order">ĐẶT HÀNG</button>

                    <p class="my-4" style="font-size: 13px; color:#77757f">Áp dụng mã giảm giá, C-point tại bước tiếp theo</p>
                    <hr class="border">
                    <div>
                        <p class="mt-4 mb-3" style="font-size: 13px; color:#77757f">Chúng tôi chấp nhận thanh toán:</p>
                        <img src="https://canifa.com/assets/images/payment-note.svg" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <section class="related-products" style="background-color: #f9f9f9;padding-bottom: 70px;">
        <div class="container-main">
            <h3 class="pt-5 mb-4">Có thể bạn sẽ thích</h3>
            <div class="product-related">
                <div class="product">
                    <div class="product-img">
                        <a href="./product-detail.html">
                            <img src="https://canifa.com/img/486/733/resize/2/l/2ls22s018-sy038-2-thumb.jpg" width="100%" alt="">
                        </a>
                        <div class="product-size-wrap">
                            <div class="d-flex justify-content-center flex-wrap pt-3">
                                <div class="product-size active">110</div>
                                <div class="product-size">120</div>
                                <div class="product-size">130</div>
                                <div class="product-size">140</div>
                                <div class="product-size">150</div>
                                <div class="product-size">160</div>
                            </div>
                            <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                        </div>
                    </div>
                    <div class="product-color-list d-flex pt-3 pb-2">
                        <div class="product-color active">
                            <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sy038.png');"></span>
                        </div>
                    </div>
                    <a href="./product-detail.html" class="product-name">
                        Bộ mặc nhà nam
                    </a>
                    <div class="d-flex mt-1">
                        <div class="curent-price me-3">249.000 đ</div>
                        <div class="curent-old">329.000 đ</div>
                    </div>
                    <div class="product-like">
                        <span>Yêu thích</span>
                        <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                        <i class="product-like-img2 fa-solid fa-heart"></i>
                    </div>
                </div>

                <div class="product">
                    <div class="product-img">
                        <a href="#">
                            <img src="https://canifa.com/img/486/733/resize/6/l/6ls22s010-sa026-1-thumb.jpg" width="100%" alt="">
                        </a>
                        <div class="product-size-wrap">
                            <div class="d-flex justify-content-center flex-wrap pt-3">
                                <div class="product-size active">110</div>
                                <div class="product-size">120</div>
                                <div class="product-size">130</div>
                                <div class="product-size">140</div>
                                <div class="product-size">150</div>
                                <div class="product-size">160</div>
                            </div>
                            <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                        </div>
                    </div>
                    <div class="product-color-list d-flex pt-3 pb-2">
                        <div class="product-color active" data="https://canifa.com/img/1000/1500/resize/6/l/6ls22s010-sa026-1-thumb.jpg">
                            <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sa026.png');"></span>
                        </div>
                        <div class="product-color" data="https://canifa.com/img/1000/1500/resize/6/l/6ls22s010-sw001-1.jpg">
                            <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sw001.png');"></span>
                        </div>

                    </div>
                    <a href="" class="product-name">
                        Bộ mặc nhà nam
                    </a>
                    <div class="d-flex mt-1">
                        <div class="curent-price me-3">249.000 đ</div>
                        <div class="curent-old">329.000 đ</div>
                    </div>

                    <div class="product-like">
                        <span>Yêu thích</span>
                        <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                        <i class="product-like-img2 fa-solid fa-heart"></i>
                    </div>
                </div>
                <div class="product">
                    <div class="product-img">
                        <a href="#">
                            <img src="https://canifa.com/img/486/733/resize/2/l/2ls22s017-sw001-2-thumb.jpg" width="100%" alt="">
                        </a>
                        <div class="product-size-wrap">
                            <div class="d-flex justify-content-center flex-wrap pt-3">
                                <div class="product-size active">110</div>
                                <div class="product-size">120</div>
                                <div class="product-size">130</div>
                                <div class="product-size">140</div>
                                <div class="product-size">150</div>
                                <div class="product-size">160</div>
                            </div>
                            <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                        </div>
                    </div>
                    <div class="product-color-list d-flex pt-3 pb-2">
                        <div class="product-color active">
                            <span style="background-image: url('	https://media.canifa.com/attribute/swatch/images/sw001.png');"></span>
                        </div>

                    </div>
                    <a href="" class="product-name">
                        Bộ mặc nhà nam
                    </a>
                    <div class="d-flex mt-1">
                        <div class="curent-price me-3">249.000 đ</div>
                        <div class="curent-old">329.000 đ</div>
                    </div>

                    <div class="product-like">
                        <span>Yêu thích</span>
                        <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                        <i class="product-like-img2 fa-solid fa-heart"></i>
                    </div>
                </div>
                <div class="product">
                    <div class="product-img">
                        <a href="#">
                            <img src="/Assets/img/8ls22s005-sb128-1-thumb.jpg" width="100%" alt="">
                        </a>
                        <div class="product-size-wrap">
                            <div class="d-flex justify-content-center flex-wrap pt-3">
                                <div class="product-size active">110</div>
                                <div class="product-size">120</div>
                                <div class="product-size">130</div>
                                <div class="product-size">140</div>
                                <div class="product-size">150</div>
                                <div class="product-size">160</div>
                            </div>
                            <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                        </div>
                    </div>
                    <div class="product-color-list d-flex pt-3 pb-2">
                        <div class="product-color active">
                            <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sb128.png');"></span>
                        </div>
                    </div>
                    <a href="" class="product-name">
                        Bộ mặc nhà nam
                    </a>
                    <div class="d-flex mt-1">
                        <div class="curent-price me-3">249.000 đ</div>
                        <div class="curent-old">329.000 đ</div>
                    </div>

                    <div class="product-like">
                        <span>Yêu thích</span>
                        <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                        <i class="product-like-img2 fa-solid fa-heart"></i>
                    </div>
                </div>
                <div class="product">
                    <div class="product-img">
                        <a href="#">
                            <img src="https://canifa.com/img/486/733/resize/2/t/2ts22w013-sy193-110-1.jpg" width="100%" alt="">
                        </a>
                        <div class="product-size-wrap">
                            <div class="d-flex justify-content-center flex-wrap pt-3">
                                <div class="product-size active">110</div>
                                <div class="product-size">120</div>
                                <div class="product-size">130</div>
                                <div class="product-size">140</div>
                                <div class="product-size">150</div>
                                <div class="product-size">160</div>
                            </div>
                            <button class="product-btn-addCart bg-dark text-white d-inline-block p-2" style="font-weight:500;font-size: 12px;">THÊM VÀO GIỎ HÀNG</button>
                        </div>
                    </div>
                    <div class="product-color-list d-flex pt-3 pb-2">
                        <div class="product-color active">
                            <span style="background-image: url('https://media.canifa.com/attribute/swatch/images/sy193.png');"></span>
                        </div>


                    </div>
                    <a href="" class="product-name">
                        Product name
                    </a>
                    <div class="d-flex mt-1">
                        <div class="curent-price me-3">249.000 đ</div>
                        <div class="curent-old">329.000 đ</div>
                    </div>

                    <div class="product-like">
                        <span>Yêu thích</span>
                        <img class="product-like-img1" src="/Assets/img/heart-icon.svg" alt="">
                        <i class="product-like-img2 fa-solid fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



