@model List<Project_3.Model.CartItem>
@{
    ViewBag.Title = "PaymentPage";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}

@section styles{
    <link rel="stylesheet" href="/Assets/css/cart.css">
    <link href="~/Assets/css/Payment.css" rel="stylesheet" />
    <style>
        .discount-block .coupon-public[data-v-e422017c] {
            margin-top: calc(1.5rem - 10px);
        }
        .discount-block .coupon-public .coupons[data-v-e422017c] {
            overflow-x: hidden;
            overflow-y: auto;
            padding-bottom: 10px;
            padding-top: 10px;
            max-height: 200px;
            -webkit-overflow-scrolling: touch;
            margin-bottom:30px;
        }
        .discount-block .coupon-public .coupons .coupon[data-v-e422017c] {
            display: flex;
            border: 2px solid black;
            border-radius: 16px;
            cursor: pointer;
            transition: all .2s;
            margin-top:15px;
        }
        .discount-block .coupon-public .coupons .coupon-left[data-v-e422017c] {
            flex: 1;
            border-right: 2px dashed black;
            min-width: 20px;
            max-width: 20px;
            position: relative;
        }
            .discount-block .coupon-public .coupons .coupon-left[data-v-e422017c]:before {
                content: '';
                display: block;
                width: 1.3rem;
                height: 1.3rem;
                background: white;
                top: 50%;
                left: -2px;
                transform: translate(-50%, -50%) rotate(45deg);
                position: absolute;
                border-top: 2px solid #000;
                border-right: 2px solid #000;
                border-bottom: 2px solid #0000;
                border-left: 2px solid #0000;
                border-radius: 100em;
            }
        .discount-block .coupon-public .coupons .coupon-right[data-v-e422017c] {
            flex: 2;
            padding: 0.5rem 1rem 0.5rem 1rem;
            position: relative;
        }
        .discount-block .coupon-public .coupons .coupon-right .coupon-title[data-v-e422017c] {
            font-size: 12px;
            font-weight: bold;
        }
        .discount-block .coupon-public .coupons .coupon-right .coupon-count[data-v-e422017c] {
            font-weight: normal;
            font-size: 0.8em;
        }
        .discount-block .coupon-public .coupons .coupon-right .coupon-count[data-v-e422017c] {
            font-weight: normal;
            font-size: 0.8em;
        }
        .discount-block .coupon-public .coupons .coupon-right .coupon-description[data-v-e422017c] {
            font-size: 10px;
            color: #999;
            display: block;
            min-width: 135px;
            transition: .2s all;
        }
        .discount-block .coupon-public .coupons .coupon-right[data-v-e422017c]:after {
            content: '';
            display: block;
            width: 1.3rem;
            height: 1.3rem;
            background: white;
            top: 50%;
            right: -2px;
            transform: translate(48.5%, -50%) rotate(45deg);
            position: absolute;
            border-top: 2px solid #0000;
            border-right: 2px solid #0000;
            border-bottom: 2px solid black;
            border-left: 2px solid black;
            border-radius: 100em;
        }
        .discount-block .coupon-public .coupons .coupon[data-v-e422017c]:hover {
            border: 2px solid #8e8e8e;
            background-color: #8e8e8e;
            color: #231f20;
        }
        .discount-block .coupon-public .coupons .coupon:hover .coupon-right .coupon-description[data-v-e422017c] {
            color: #231f20;
        }
        .discount-block .coupon-public .coupons .coupon:hover .coupon-left[data-v-e422017c]:before {
            border-top: 2px solid #8e8e8e;
            border-right: 2px solid #8e8e8e;
            border-bottom: 2px solid #0000;
            border-left: 2px solid #0000;
        }
        .discount-block .coupon-public .coupons .coupon:hover .coupon-right[data-v-e422017c]:after {
            border-top: 2px solid #0000;
            border-right: 2px solid #0000;
            border-bottom: 2px solid #8e8e8e;
            border-left: 2px solid #8e8e8e;
        }
        .discount-block .coupon-public .coupons .coupon.active[data-v-e422017c] {
            background-color: #2f5acf;
            border: 2px solid #2f5acf;
            color: white;
        }
        .discount-block .coupon-public .coupons .coupon.active .coupon-left[data-v-e422017c]:before {
            border-top: 2px solid #2f5acf;
            border-right: 2px solid #2f5acf;
            border-bottom: 2px solid #0000;
            border-left: 2px solid #0000;
        }
        .discount-block .coupon-public .coupons .coupon.active .coupon-right[data-v-e422017c]:after {
            border-top: 2px solid #0000;
            border-right: 2px solid #0000;
            border-bottom: 2px solid #2f5acf;
            border-left: 2px solid #2f5acf;
        }
        .discount-block .coupon-public .coupons .coupon.active .coupon-right .coupon-description[data-v-e422017c] {
            color: #fff;
        }
        .discount-block .coupon-public .coupons .coupon.active .coupon-left[data-v-e422017c] {
            border-color: #fff;
        }
    </style>
}

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="~/Assets/js/Cart/UpdateCart.js"></script>
    <script>
        //check radio
        $(".payment-method").click((e) => {
            $(".payment-method").removeClass("active")
            $(e.target).addClass("active")
            let radioInput = $($(e.target).find(".radioPay"))
            $(radioInput).trigger("checked")
        })

        //get voucher
        let checkVoucher = false
        function getVoucher(input, VoucherId, Name, MiximumMoney, Amount, TypeAmount) {
            $(".voucher-error").text('')
            //Add voucher to input
            if ($(input).hasClass("active") == false) {
                $(".coupon.active").removeClass("active")
                $(input).addClass("active")
                $(".checkout-coupon-form .voucherId").val(VoucherId)
                $(".checkout-coupon-form .voucher-title").val(Name)

                //check condition to apply
                updateTotalPrice() //update lại giá cũa
                let totalBill = JSON.parse($(".total-price").attr("data"))
                if (MiximumMoney > totalBill) {
                    let textMiximumMoney = convertPrice(JSON.stringify(MiximumMoney))
                    $(".voucher-error").text("Mã giảm giá chỉ áp dụng cho đơn hàng tối thiểu " + textMiximumMoney)
                    $("#errorToast .text-toast").text("Mã giảm giá chỉ áp dụng cho đơn hàng tối thiểu " + textMiximumMoney)
                    $("#errorToast").toast("show")
                    checkVoucher = false
                }
                else {
                    checkVoucher = true
                    let discountExtra = 0
                    if (TypeAmount == "0") //giảm giá theo đ
                    {
                        discountExtra = Amount
                        totalBill -= discountExtra
                    }
                    else //giảm theo %
                    {
                        discountExtra = (totalBill * (Amount / 100))
                        totalBill -= discountExtra
                    }
                    //update gia tri cho gia goc
                    let discountTotal = JSON.parse($(".discount-total").attr("data"))
                    discountTotal-=discountExtra //trừ thêm tiền được giảm giá
                    let textDiscountTotal = convertPrice(JSON.stringify(discountTotal))

                    $(".discount-total").text("-" + textDiscountTotal)
                    $(".total-price").text(convertPrice(JSON.stringify(totalBill)))

                    $(".discount-total").attr("data", discountTotal)
                    $(".total-price").attr("data", totalBill)
                }
            }
            else {
                $(".coupon.active").removeClass("active")
                $(".checkout-coupon-form .voucherId").val('')
                $(".checkout-coupon-form .voucher-title").val('')
                updateTotalPrice() //update lại giá cũa
                checkVoucher = false
            }
        }

        //function checkUseVoucher() {
        //    let list = JSON.parse(localStorage.getItem("Cart"))
        //    let errorMessage = "Mã giảm giá không áp dụng cho các sản phẩm sau:"
        //    let checkError = false
        //    $.each(list, (index, value) => {
        //        if (value.DiscountPrice > 0) {
        //            errorMessage += `<br> - ${value.ProName}`
        //            checkError = true
        //        }
        //    })
        //    return { checkError: checkError, errorMessage: errorMessage }
        //}

        /*render city district*/
        var citis = document.getElementById("city");
        var districts = document.getElementById("district");
        var wards = document.getElementById("ward");
        var Parameter = {
            url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
            method: "GET",
            responseType: "application/json",
        };
        var promise = axios(Parameter);
        promise.then(function (result) {
            listLocation = result.data
            renderCity(result.data);
        });

        function renderCity(data) {
            for (const x of data) {
                citis.options[citis.options.length] = new Option(x.Name, x.Id);
            }
            citis.onchange = function () {
                district.length = 1;
                ward.length = 1;
                if (this.value != "") {
                    const result = data.filter(n => n.Id === this.value);

                    for (const k of result[0].Districts) {
                        district.options[district.options.length] = new Option(k.Name, k.Id);
                    }
                }
            };
            district.onchange = function () {
                ward.length = 1;
                const dataCity = data.filter((n) => n.Id === citis.value);
                if (this.value != "") {
                    const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

                    for (const w of dataWards) {
                        wards.options[wards.options.length] = new Option(w.Name, w.Id);
                    }
                }
            };
        }


        /*Post info bill*/
        function addError(id, textError) {
            //thay đổi thuộc tính của thẻ input
            const element = $(`#${id}`) //element input
            $(element).removeClass("valid")
            $(element).addClass("error")
            $(element).attr("aria-invalid", true)

            //thay đổi thẻ label error
            const erorrLabel = $(`#${id}-error`)
            $(erorrLabel).css("display", "inline-block")
            $(erorrLabel).text(textError)
        }


        $.validator.addMethod('PhoneVN', function (value) {
            return /(03|05|07|08|09|01[2|6|8|9])+([0-9]{8})\b/.test(value);
        }, "Số điện thoại không hợp lệ")

        $.validator.addMethod('letterOnly', function (value) {
            return /^[a-zA-Z0-9]*$/.test(value);
        }, "Mật khẩu không được có dấu hoặc kí tự đặc biệt")

        $(".form-Payment").validate({
            rules: {
                name: {
                    required: true
                },
                address: {
                    required: true,
                    maxlength: 100
                },
                phone: {
                    required: true,
                    PhoneVN: true
                },
                city: "required",
                district: "required",
                ward: "required"
            },
            messages: {
                name: {
                    required: "Họ tên không được để trống",
                },
                address: {
                    required: "Địa chỉ không được để trống",
                    maxlength: "Địa chỉ khống quá 100 ký tự"
                },
                phone: {
                    required: "Số điện thoại không được để trống"
                },
                city: "Bạn cần chọn trường này",
                district: "Bạn cần chọn trường này",
                ward: "Bạn cần chọn trường này"
            }
        })

        //khi người dùng muốn đặt hàng
        function listCartItem() {
            let listResult = []
            if (localStorage.getItem("Cart") != null) {
                let list = JSON.parse(localStorage.getItem("Cart"))

                for (let i = 0; i < list.length; i++) {
                    let cartItem = {
                        ProId: list[i].ProId,
                        ProSizeID: list[i].proSizeId,
                        ProColorID: list[i].proColorId,
                        Quantity: list[i].Quantity,
                        Price: list[i].Price,
                        DiscountPrice: list[i].DiscountPrice
                    }
                    listResult.push(cartItem)
                }
            }
            return listResult
        }

        function payment() {
            const CusID = $(".form-Payment").attr("data-cusid")
            const Phone = $("#phone").val().trim()
            const Note = $("#note").val().trim()
            const city = $("#city option:selected").text()
            const district = $("#district option:selected").text()
            const ward = $("#ward option:selected").text()
            const address = $("#address").val()
            const PaymentType = $('.payment-method.active input').val()
            const MoneyTotal = $(".total-price").attr("data")
            const VoucherId = checkVoucher == true ? $("input.voucherId").val() : "" //nếu checkVoucher = false thì sẽ không lấy cvoucher
            if ($(".form-Payment").valid()) {
                let order = {
                    CusID: CusID,
                    ReceivingPhone: Phone,
                    ReceivingCity: city,
                    ReceivingDistrict: district,
                    ReceivingWard: ward,
                    ReceivingAddress: address,
                    PaymentType: PaymentType,
                    Note: Note,
                    MoneyTotal: MoneyTotal,
                    VoucherId: VoucherId
                }

                let cartItems = listCartItem()
                $.ajax({
                    url: "/Cart/Order",
                    type: "POST",
                    data: { order: order, cartItems: cartItems },
                    dataType: "Json",
                    success: function (res) {
                        localStorage.removeItem("Cart")
                        location.href = '/Cart/InfoBill/' + res;
                    }
                })
            }
        }
    </script>
}

<main class="border-top">
    <div class="d-flex justify-content-between align-items-center w-50 mx-auto my-5">
        <div class="process-item flex-grow-1 text-center">
            <span class="rounded-circle border me-2 d-inline-block text-center"
                  style="width:24px;line-height:22px;font-size: 14px;background-color: #63b1bc;">
                <img class="my-auto"
                     src="/Assets/img/checkpay.svg" style="position: relative;top: -2px;" alt="">
            </span>
            Giỏ hàng
        </div>
        <div class="flex-grow-1 border-top text-center"></div>
        <div class="process-item active flex-grow-1 text-center">
            <span class="rounded-circle border me-2 d-inline-block text-center"
                  style="width:24px;line-height:22px;font-size: 14px;">2</span>
            Đặt hàng
        </div>
        <div class="flex-grow-1 border-top text-center"></div>
        <div class="process-item flex-grow-1 text-center">
            <span class="rounded-circle border me-2 d-inline-block text-center"
                  style="width:24px;line-height:22px;font-size: 14px;">3</span>
            Hoàn tất
        </div>
    </div>
    <div class="cart-content pt-3">
        <div class="row g-1 align-items-stretch">
            <div class="col-lg-8 col-12 h-100">
                <div class="cart-content__left">
                    <div class="info-client pb-3 border-bottom">
                        <div class="d-flex align-items-center justify-content-between">
                            <h4>Thông tin giao hàng</h4>
                            <a class="text-black fw-bold text-decoration-underline fs-6" href="/Cart/Index">
                                <img src="/Assets/img/back.svg" alt=""><span>Quay lại giỏ hàng</span>
                            </a>
                        </div>
                        @if (ViewBag.Customer != null)
                        {
                            <form action="" class="form-Payment account-setting-form mt-4" style="max-width:550px" data-cusid="">
                                <div class="form-group active mb-0">
                                    <label>Họ tên</label>
                                    <input type="text" value="" name="name" id="name" class="form-control">
                                    <label class="error" for="name" style="display: none;"></label>
                                </div>
                                <div class="form-group active mt-4 mb-0">
                                    <label>Số điện thoại</label>
                                    <input type="text" name="phone" id="phone" value="" class="form-control ">
                                    <label id="phone-error" class="error" for="phone" style="display: none;"></label>
                                </div>
                                <select class="form-select form-select-sm mt-4 mb-0" id="city" name="city" aria-label=".form-select-sm">
                                    <option value="" selected>Tỉnh / Thành phố</option>
                                </select>
                                <select class="form-select form-select-sm mt-4 mb-0" id="district" name="district" aria-label=".form-select-sm">
                                    <option value="" selected>Quận / Huyện</option>
                                </select>
                                <select class="form-select form-select-sm mt-4 mb-0" id="ward" name="ward" aria-label=".form-select-sm">
                                    <option value="" selected>Phường / Xã</option>
                                </select>
                                <div class="form-group active mt-4 mb-0">
                                    <label>Địa chỉ</label>
                                    <input type="text" name="address" id="address" value="" class="form-control ">
                                </div>
                                <div class="form-group active mt-4 mb-0">
                                    <label>Ghi chú</label>
                                    <input type="text" name="note" id="note" class="form-control">
                                </div>
                                <button></button>
                            </form>
                        }
                        else
                        {
                            <form action="" class="form-Payment account-setting-form mt-4" style="max-width:550px" data-cusid="">
                                <div class="form-group active mb-0">
                                    <label>Họ tên</label>
                                    <input type="text" value="" name="name" id="name" class="form-control">
                                    <label class="error" for="name" style="display: none;"></label>
                                </div>
                                <div class="form-group active mt-4 mb-0">
                                    <label>Số điện thoại</label>
                                    <input type="text" name="phone" id="phone" value="" class="form-control ">
                                    <label id="phone-error" class="error" for="phone" style="display: none;"></label>
                                </div>
                                <select class="form-select form-select-sm mt-4 mb-0" id="city" name="city" aria-label=".form-select-sm">
                                    <option value="" selected>Tỉnh / Thành phố</option>
                                </select>
                                <select class="form-select form-select-sm mt-4 mb-0" id="district" name="district" aria-label=".form-select-sm">
                                    <option value="" selected>Quận / Huyện</option>
                                </select>
                                <select class="form-select form-select-sm mt-4 mb-0" id="ward" name="ward" aria-label=".form-select-sm">
                                    <option value="" selected>Phường / Xã</option>
                                </select>
                                <div class="form-group active mt-4 mb-0">
                                    <label>Địa chỉ</label>
                                    <input type="text" name="address" id="address" value="" class="form-control ">
                                </div>
                                <div class="form-group active mt-4 mb-0">
                                    <label>Ghi chú</label>
                                    <input type="text" name="note" id="note" class="form-control">
                                </div>
                                <button></button>
                            </form>
                        }
                    </div>
                    <div class="py-3 ">
                        <h4 class="mt-4 mb-3">Phương thức thanh toán</h4>
                        <div class="mb-3 d-flex justify-content-between align-items-center border payment-method active"
                             style="padding: 12px 16px;cursor: pointer;">
                            <div class="d-flex align-items-center" style="pointer-events: none;">
                                <input type="radio" value="COD" name="PaymentMethod" class="radioPay">
                                <p style="font-size:16px;margin-left: 15px;">Thanh toán khi nhận hàng (COD)</p>
                            </div>
                            <img src="/Assets/img/cod.svg" alt="">
                        </div>
                        <div class="mb-3 d-flex justify-content-between align-items-center border payment-method"
                             style="padding: 12px 16px;cursor: pointer;">
                            <div class="d-flex align-items-center" style="pointer-events: none;">
                                <input type="radio" value="VNPAY" name="PaymentMethod" class="radioPay">
                                <p style="font-size:16px;margin-left: 15px;">Thanh toán bằng VNPAY</p>
                            </div>
                            <img src="/Assets/img/vnpay.svg" alt="">
                        </div>
                        <div class="mb-3 d-flex justify-content-between align-items-center border payment-method"
                             style="padding: 12px 16px;cursor: pointer;">
                            <div class="d-flex align-items-center" style="pointer-events: none;">
                                <input type="radio" value="ShopeePay" name="PaymentMethod" class="radioPay">
                                <p style="font-size:16px;margin-left: 15px;">Thanh toán bằng ShopeePay</p>
                            </div>
                            <img src="/Assets/img/shopeepay.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="cart-content__right h-100">
                    <h4>Đơn hàng</h4>
                    <div class="d-flex justify-content-between mt-4 mb-2" style="color:#77757f;">
                        <span>Giá gốc</span>
                        <span class="original-price"></span>
                    </div>
                    <div class="d-flex justify-content-between mb-2" style="color:#77757f;">
                        <span>Giảm giá</span>
                        <span class="discount-total" data="" style="color: rgb(218, 41, 28);"></span>
                    </div>
                    <div class="d-flex justify-content-between fw-bold pb-5 border-bottom">
                        <span>Tổng tiền thanh toán</span>
                        <span class="total-price"></span>
                    </div>
                    <div class="checkout-step checkout-coupon">
                        <div data-v-e422017c="" class="discount-block">
                            <div data-v-e422017c="" class="coupon-public">
                                <div data-v-e422017c="" class="coupons">
                                    @foreach (var item in ViewBag.Vouchers)
                                    {
                                        <div data-v-e422017c="" class="coupon" onclick="getVoucher(this,@item.VoucherId, '@item.Name', @item.MiximumMoney, @item.Amount, '@item.TypeAmount')">
                                            <div data-v-e422017c="" class="coupon-left"></div> <div data-v-e422017c="" class="coupon-right">
                                                <div data-v-e422017c="" class="coupon-title">
                                                    @item.Name
                                                    <span data-v-e422017c="" class="coupon-count"><i data-v-e422017c="">(Còn @(item.MaxUses - item.UsedCurrent))</i></span>
                                                </div> <div data-v-e422017c="" class="coupon-description"><span>@item.Description</span></div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div> 
                        </div>
                        <div class="checkout-step-content" style="padding-bottom: 25px;">
                            <div class="checkout-coupon-form">
                                <input type="hidden" class="voucherId" />
                                <input type="text" name="promoCode" data-IdVoucher="" placeholder="Chọn voucher phía trên" disabled class="form-control voucher-title">
                                <button class="btn-add-coupon btn-add p-0">Mã giảm giá</button>
                            </div>
                            <div class="voucher-error text-danger mt-3">

                            </div>
                        </div>
                    </div>
                    <button onclick="payment()" CLASS="btn-order">THANH TOÁN</button>
                </div>
            </div>

        </div>
    </div>
</main>