@model IEnumerable<Models.Framework.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartPromotion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopPromotion)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartPromotion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopPromotion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProId })
        </td>
    </tr>
}

</table>
