@model PagedList.IPagedList<Models.Framework.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int index = 0;
}
@section styles{
    <link href="~/Assets/Admin/css/Product.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Assets/Admin/js/product/product.js"></script>
    <script src="~/Assets/Admin/js/product/DeleteProduct.js"></script>
}


<main id="main" class="main">

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body pt-4">
                        <div class="text-end">
                            <a href="/Admin/Product/Create" class="btn btn-primary me-2"><i class="fa-solid fa-plus"></i> Thêm sản phẩm</a>
                            <button class="btn btn-primary me-2"><i class="fa-solid fa-file-import"></i> Import</button>
                            <button class="btn btn-primary"><i class="fa-solid fa-file-export"></i> Xuất file</button>
                        </div>
                        <table class="table bg-white table-listProduct shadow mt-3">
                            <thead class="text-dark">
                                <tr>
                                    <th class="col-id">STT</th>
                                    <th>Tên hàng</th>
                                    <th>Loại hàng</th>
                                    <th>Giá vốn</th>
                                    <th>Giá bán</th>
                                    <th>Trạng thái</th>
                                    <th>Tồn kho</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="row-product" id="@item.ProId">
                                        <td class="col-id">@(index++)</td>
                                        <td class="col-name">@item.ProName</td>
                                        <td class="col-procat">@item.ProductCat.Name</td>
                                        <td class="col-importPrice price">@item.ImportPrice</td>
                                        <td class="col-price price">@item.Price</td>
                                        <td class="col-status" >
                                            <div class="form-check form-switch" onclick="ChangeStatus(event,@item.ProId)">
                                                <input class="form-check-input" type="checkbox" checked="@item.Status" >
                                            </div>
                                        </td>
                                        <td class="col-quantity"></td>
                                        <td>
                                            <a class="btn-update" href="/Admin/Product/Edit/@item.ProId"><i class="fa-solid fa-pen-to-square" style="pointer-events:none;"></i></a>
                                            <a class="btn-delete" onclick="deleteProduct(@item.ProId)"><i class="fa-solid fa-trash" style="pointer-events:none;"></i></a>
                                        </td>
                                    </tr>
                                    <tr class="row-variation-@item.ProId row-variation">
                                        <td colspan="8" class="ps-4 py-0 pb-4">
                                            @foreach (var variation in item.ProductVariations)
                                            {
                                                <ul class=" d-flex mb-0 border-start border-bottom">
                                                    <li class="col-id"></li>
                                                    <li class="col-name d-flex h-100 align-content-center">
                                                        <img src="/Upload/Product/@variation.ProId/@variation.DisplayImage" class="me-2 variation-image" alt="" width="30px">
                                                        <div>@variation.ProductColor.NameColor - @variation.ProductSize.NameSize</div>
                                                    </li>
                                                    <li class="col-procat"></li>
                                                    <li class="col-importPrice"></li>
                                                    <li class="col-price"></li>
                                                    <li class="col-status"></li>
                                                    <li class="col-quantity">@variation.Quantity</li>
                                                    @*<li><a class="btn-delete" onclick="deleteVariation(this,@variation.ProVariationID)"><i class="fa-solid fa-trash" style="pointer-events:none;"></i></a></li>*@
                                                </ul>
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchResult = @ViewBag.searchResult }))
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>